<nav className="navbar-default mine">
  <div className="container-fluid" onClick={this.clickBack}>
    <img className="navbar-brand" src="/assets/CookBooks-logo.png"></img>
  </div>
</nav>

<div class="row">
  <div class="col-xs-4"></div>
  <div class="col-xs-8">
    <h1>Sign Up</h1>
  </div>
</div>

<div class="row">
  <ul class="col-xs-4 col-xs-offset-4">
    <% if flash[:errors] %>
      <% flash[:errors].each do |error|%>
        <li class="errors"><%= error %></li>
      <% end %>
    <% end %>
  </ul>
</div>

<div class="row">
  <div class="col-xs-2"></div>
  <div class="col-xs-8">
    <form class="form-horizontal" action= "<%= users_url %>" method="post">
      <input type="hidden" name="authenticity_token" value="<%=auth_token%>">
    <div class="form-group">
      <div class: "col-xs-12">Already a Member?
        <%= link_to "Log In", new_session_url%>
      </div>
    </div>
    <div class="form-group">
      <label class="col-xs-2" for="name">Name</label>
      <input class="col-xs-10" id="name" type="text" name="user[name]" value="<%=@user.name%>">
    </div>
    <div class="form-group">
      <label class="col-xs-2" for="email">Email</label>
      <input class="col-xs-10" id="email" type="email" name="user[email]" value="<%=@user.email%>">
    </div>
    <div class="form-group">
      <label class="col-xs-2" for="password">Password</label>
      <input class="col-xs-10" id="password" type="password" name="user[password]" value="">
    </div>
    <div class="form-group">
      <input class="col-xs-12" type="submit">
    </div>
    <div class="form-group">
      <input class="col-xs-12" id="myBtn" type="submit" value="Log In as Guest">
    </div>
    </form>
  </div>
</div>
<script type="text/javascript">
  document.getElementById("myBtn").addEventListener("click", demoLogin)
</script>
