<!DOCTYPE html>
<html>
<head>
  <title>OurCookbook</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <script src = "http://widget.cloudinary.com/global/all.js"></script>
  <% if current_user %>
    <script>
      window.CLOUDINARY_OPTIONS = {
        cloud_name: "<%=ENV['CLOUD_NAME']%>",
        upload_preset: "<%= ENV['UPLOAD_PRESET'] %>"
      };
      window.USER_ID = <%= current_user.id %>
    </script>
  <% else %>
    <script> window.USER_ID = undefined;</script>
  <% end %>
</head>
<body>
  <!-- stick this in a partial -->
  <% if flash[:errors] %>
    <% flash[:errors].each do |error| %>
      <%= error %>
      <br>
    <% end %>
  <% end %>
  <!-- a -->
<%= yield %>

</body>
</html>
