<!DOCTYPE html>
<html>
<head>
  <title>OurCookbook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src = "http://widget.cloudinary.com/global/all.js"></script>
  <script>
    window.CLOUDINARY_OPTIONS = {
      cloud_name: "<%=ENV['CLOUD_NAME']%>",
      upload_preset: "<%= ENV['UPLOAD_PRESET'] %>"
    };
  </script>
</head>
<body>
  <% if flash[:errors] %>
    <% flash[:errors].each do |error| %>
      <%= error %>
      <br>
    <% end %>
  <% end %>
<%= yield %>

</body>
</html>
